
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

label{
    display: block !important;
}


#container {
	margin: auto;
	width:1200px;
}



progress[value]::-webkit-progress-bar {
  background-color: silver;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	 
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,silver, #99FF66);

    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


#status{
    position: absolute;
    color:white;
    font-weight: bold;
    top: -17px;
    left: 132px;
    font-size: 10px;
}
/* delete cover button */
.closeImg{
	width: 20px !important;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	border:none !important;
    cursor: pointer;
}


.form-group {
	overflow: hidden;
}


::-webkit-input-placeholder {font-style: italic;font-size: 12px;}
::-moz-placeholder          {font-style: italic;font-size: 12px;}/* Firefox 19+ */
:-moz-placeholder           {font-style: italic;font-size: 12px;}/* Firefox 18- */
:-ms-input-placeholder      {font-style: italic;font-size: 12px;}

nav{
    position: fixed !important;
    width: 100%;
    text-align: center;
}

#flash_msg{
    display:none;
	overflow: hidden;
	padding: 0px 54px;
	margin-top: 8px;
}

table{
    border-collapse: separate;
}

table td{
    background:RGB(112, 146, 190);
}

.leftSide{
    float: left;
    margin-top: 50px;
}
.rightSide{
    float: right;
    margin-top: 50px;
}
.parentTitle,.childName{
    background:RGB(112, 146, 190);
    padding:0 7px;
}

td a, td span{
    color:black;
    background-color:white;
    font-weight: bold;
}

.selectedParent{
   /* color:green !important;
    text-decoration: none !important;*/
}
